## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,84.20,70,20,13.80,light rain
1,1,Georgetown,MY,5.4112,100.3354,77.00,78,20,3.44,few clouds
2,2,Hermanus,ZA,-34.4187,19.2345,63.00,84,82,3.00,broken clouds
3,3,Kodiak,US,57.7900,-152.4072,33.80,69,40,17.27,scattered clouds
4,4,Vuktyl,RU,63.8567,57.3094,-6.03,88,100,7.38,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,84.20,70,20,13.80,light rain
1,1,Georgetown,MY,5.4112,100.3354,77.00,78,20,3.44,few clouds
6,6,Tautira,PF,-17.7333,-149.1500,86.00,62,40,12.66,moderate rain
10,10,Kapaa,US,22.0752,-159.3190,75.20,69,75,19.57,light rain
12,12,Carnarvon,AU,-24.8667,113.6333,78.80,89,3,9.22,clear sky
14,14,Les Cayes,HT,18.2000,-73.7500,81.30,57,0,8.08,clear sky
16,16,Avarua,CK,-21.2078,-159.7750,84.20,74,78,6.91,light rain
18,18,Harper,LR,4.3750,-7.7169,78.31,84,98,5.10,light rain
19,19,Acapulco,MX,16.8634,-99.8901,86.00,66,75,12.66,broken clouds
23,23,Thinadhoo,MV,0.5333,72.9333,81.36,78,95,14.38,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                201
City                   201
Country                201
Lat                    201
Lng                    201
Max Temp               201
Humidity               201
Cloudiness             201
Wind Speed             201
Current Description    201
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows in dataframe :)
clean_df = preferred_cities_df

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,
1,Georgetown,MY,77.00,few clouds,5.4112,100.3354,
6,Tautira,PF,86.00,moderate rain,-17.7333,-149.1500,
10,Kapaa,US,75.20,light rain,22.0752,-159.3190,
12,Carnarvon,AU,78.80,clear sky,-24.8667,113.6333,
14,Les Cayes,HT,81.30,clear sky,18.2000,-73.7500,
16,Avarua,CK,84.20,light rain,-21.2078,-159.7750,
18,Harper,LR,78.31,light rain,4.3750,-7.7169,
19,Acapulco,MX,86.00,broken clouds,16.8634,-99.8901,
23,Thinadhoo,MV,81.36,overcast clouds,0.5333,72.9333,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print:("Hotel not found... skipping.")

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,Castillo Galapagos
1,Georgetown,MY,77.00,few clouds,5.4112,100.3354,Cititel Penang
6,Tautira,PF,86.00,moderate rain,-17.7333,-149.1500,Pension Oaoa
10,Kapaa,US,75.20,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
12,Carnarvon,AU,78.80,clear sky,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...,...
669,Nanakuli,US,75.20,overcast clouds,21.3906,-158.1547,Camp Pālehua
671,Nazca,PE,89.24,clear sky,-14.8333,-74.9500,Casa Andina Standard Nasca
674,Grand Baie,MU,81.00,light rain,-20.0182,57.5802,Trou aux Biches Beachcomber Golf Resort & Spa
682,Mayumba,GA,79.16,overcast clouds,-3.4320,10.6554,LIKWALE LODGE
684,Ambulu,ID,75.09,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

# All rows have hotel names :)

City                   201
Country                201
Max Temp               201
Current Description    201
Lat                    201
Lng                    201
Hotel Name             201
dtype: int64

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "hotel_database.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))